html,
body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2000px;
  height: 120px;
  -webkit-animation: slide 15s linear infinite;
  animation: slide 15s linear infinite;
}

.slider:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.slider__item {
  max-width: 270px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-33.3333%);
    transform: translateX(-33.3333%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-33.3333%);
    transform: translateX(-33.3333%);
  }
}
